.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*{
  font-family: monospace;
}

.navbar-inverse{
  background: #2959A6 !important;
  border-color: transparent !important;
  
}
.navbar-inverse .navbar-brand{
  color: #fff !important;
  font-family: monospace;
  font-size: 30px;
  margin-top: 5px;
  margin-right: 35px;
}
.navbar-inverse .navbar-nav > li > a {  
  color: #fff !important;
}

.container1{
  background-image: url(./components/images/Homefood.jpg);
  background-size: cover;
  height: 100vh;
  margin-top: -20px;
  
 } 
#myNavbar .navbar-nav {
  color: #fff !important;
  font-family: monospace;
  font-size: 18px;
  margin-top: 5px;

} 
.row1{
  position: relative !important;
}
.welcometext1{
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(90deg, rgba(255,97,0,0.1225840678068102) 0%, rgba(222,192,38,0.6141807064622724) 50%, rgba(255,97,0,0.1225840678068102) 100%);
  color: #fff;
}
.welcometext2{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  background: rgb(255,97,0);
  background: linear-gradient(90deg, rgba(255,97,0,0.1225840678068102) 0%, rgba(222,192,38,0.6141807064622724) 50%, rgba(255,97,0,0.1225840678068102) 100%);
  color: #fff;
}

.box1{
  position: absolute !important;
  margin-top: 15%;
  margin-left: 20%;
}
.box2{
  position: absolute !important; 
  margin-top: 35%;
  margin-left: 55%;
  background-color: #fff;
  height: 20vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.review1{
  font-family: 'Lobster', cursive;
}

.img1{
  border-radius: 50%;
  margin-top: 5%;

}
.glyphicon-star {
  font-size: 30px;
  color: #e67e22;
}
.row2{
  position: relative;
  background-color: antiquewhite;
}
.box3{
  background-color:#fff;
}
.container3{
  height: 50vh;
}
.box4{
  background-color: #fff;
}


.box41{
  height: 45vh;
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 2%;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.text1{
  text-align: inherit;
  width: 90%;
}
.tablebookimg{
  border-radius: 2%;

}
input[type="text"] {
  /* border-top: 0;
  border-right: 0;
  border-left: 0; */
  border-bottom: 2px solid orange;

  -webkit-box-shadow: none;
  box-shadow: none; 
}
#date {
  /* border-top: 0;
  border-right: 0;
  border-left: 0; */
  border-bottom: 2px solid orange;

  /* -webkit-box-shadow: none;
  box-shadow: none;  */

}
#comment{
  /* border-top: 0;
  border-right: 0;
  border-left: 0; */
  border-bottom: 2px solid orange;
}
#inputFood{
  /* border-top: 0;
  border-right: 0;
  border-left: 0; */
  border-bottom: 2px solid orange;
}
.tablebookhead1{
  font-weight: 900;
}
.tablebookhead2{
  font-weight: lighter;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
